/* CSS declarations go here */

.employee-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.thumbnail {
    width: 300px;
}

.form{
    display: flex;
}

.form button {
    margin-left: 10px;
}

.btn_load_more{
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}